head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
// Modal
#diagnosticModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='diagnosticModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#diagnosticModalLabel.modal-title Modal title
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                | ...
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
script.
    let shown = false;
    const modal = $('#diagnosticModal');
    modal.modal('show');
    function DiagnosticCase({
                                title, body, actions
                            }) {
        this.title = title;
        this.body = body;
        this.actions = actions;
        this.show = () => {
            if (shown) {
                this._hide();
                modal.on('hidden.bs.modal', this._show);
            } else {
                this._show();
            }
        };
        this._show = () => {
            modal.find('.modal-title').text(title);
            modal.find('.modal-body').text(body);
            const footer = modal.find('.modal-footer');
            footer.empty();
            actions && actions.length > 0 && actions.forEach((action, i) => {
                footer.append($('<button/>', {
                    text: action.title,
                    type: 'button',
                    class: 'btn btn-primary',
                    id: 'btn_' + i,
                    click: action.show
                }));
        });
            shown = true;
            modal.unbind('hidden.bs.modal', this._show);
            modal.modal('show');
        };
        this._hide = () => {
            const modal = $('#diagnosticModal');
            modal.modal('hide');
        }
    }
    /**__CONFIG_PLACEHOLDER__*/
    case0.show();
